<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Информация</title>

  <link href="../../../static/css/bootstrap.css" rel="stylesheet"/>
  <link href="../../../static/css/Site.css" rel="stylesheet"/>

  <link href="../../../static/css/Foother.css" rel="stylesheet" />
  <link href="../../../static/css/About.css" rel="stylesheet">

  <!---->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!---->

</head>
<body style="padding-bottom: 0px">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
      <!--                <span class="icon-bar"></span>-->
      <!--                <span class="icon-bar"></span>-->
      <!--                <span class="icon-bar"></span>-->
      <!--            </button>-->
      <img src="../../../static/img/logo.png" alt="" style="width: 40px; height: 40px; margin: 5px;">

      <a class="navbar-brand navBar-item" href="../Home/Index.html">Car FY</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="navBar-item"><a href="../Home/About.html">Информация</a></li>
        <li class="navBar-item"><a href="../Home/Contacts.html">Контакты</a></li>
        <li class="navBar-item"><a href="../Car/IndexAll.html">Автопарк</a></li>
        <li class="navBar-item"><a href="../Appeal/IndexAll.html">Вопросы</a></li>

        <li class="navBar-item"><a href="../Contract/IndexAll.html">Мои аренды</a></li>
        <li class="navBar-item"><a href="../Home/Customers.html">Пользователи</a></li>
      </ul>

      <ul>
        <form action="/logout" class="navbar-right" method="post" id="logoutForm">
          <input type="hidden" name="_csrf" value="${_csrf.token}">
          <ul class="nav navbar-nav navbar-right">
            <!--                        <li>-->
            <!--                            <a style="color: #46F046; text-decoration: none; font-size: 18px; display: block; font-weight: 600" href="tel:+78005553535">+7 (800) 555-35-35</a>-->
            <!--                        </li>-->
            <li>
              <a href="../Account/Index_Customer.html" title="Manage">Здравствуйте user@mail.ru!</a>
            </li>
            <li>
              <!--              <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>-->
              <a href="../Home/Index.html">Выйти</a>
            </li>
            <li>
              <a href="../Account/Log.html">Войти</a>
            </li>
          </ul>
        </form>
      </ul>

    </div>
  </div>
</div>

<div class="container body-content" style="display: flex; flex-direction: column; min-height: 100%; width: 80%;">

  <!-- section info -->
  <section class="section section-info" style="margin-top: 5%; width: 100%;">

    <h1 class="RentalIF">Условия аренды</h1>

    <div class="info">

      <div class="info-item" style="padding: 10px;">
        <div class="info-content info-content-text">
          <h3 class="info-title">Условия и порядок аренды</h3>
          <img src="../../../static/img/about/if2.jpg" alt="" class="info-img" />
          <br>
          <div class="description">
            <p class="contacts-text">
              Требования к арендатору:
            <ul>
              <li>&nbsp;возраст от 22 лет;</li>
              <li>&nbsp;стаж вождения от 3-х лет;</li>
              <li>&nbsp;наличие прописки в России;</li>
              <li>&nbsp;наличие оригинала паспорта и водительского удостоверения.</li>
            </ul>
            <div>
              <p id="BaseID1" class="ShowDIV" onclick="Show('BaseID1','HideDIV1','ShowDIV1')">Как арендовать автомобиль?</p>

              <p id="HideDIV1" class="HideDIV" style="display:none" onclick="DisplayNone('BaseID1','HideDIV1','ShowDIV1')">Скрыть</p>

              <div id="ShowDIV1" style="display:none">
                Вы можете арендовать авто онлайн из дома. Для этого просто выберите нужный автомобиль из каталога
                , заполните форму составления аренды, и ожидайте подтверждения аренды от менеджера.
                После подтверждения Вам будет необходимо прийти в наш офис, чтобы оплатить аренду и забрать автомобиль.
                Вы уезжаете на арендованном авто уже через 10-15 минут!
                Вы также можете арендовать авто и оффлай, прийдя в наш офис.
                В случае возникновения каких либо вопросов обращайтесь по номеру:
                <nobr><a href="tel:+78005553535">+7 (800) 555-35-35</a></nobr>
              </div>

            </div>
            </p>
          </div>
        </div>
      </div>

      <div class="info-item" style="padding: 10px;">
        <div class="info-content info-content-text">
          <h3 class="info-title">Обязанности арендатора</h3>
          <img src="../../../static/img/about/if1.jpg" alt="" class="info-img" />
          <br>

          <div class="description">
            <p class="contacts-text">
            <ul>
              <li>&nbsp;зона проката авто - в пределах Владимирской области;</li>
              <li>&nbsp;не оставлять машину открытой;</li>
              <li>&nbsp;всегда перед уходом необходимо закрывать авто и включать сигнализацию;</li>
              <li>&nbsp;нельзя оставлять в машине ключи и документы на автомобиль;</li>
              <li>&nbsp;нельзя парковаться в запрещенных местах, а также неоплачивать парковку;</li>
              <li>&nbsp;автомобиль необходимо возвращать чистым и с полным баком.</li>
            </ul>
            <div>
              <p id="BaseID2" class="ShowDIV" onclick="Show('BaseID2','HideDIV2','ShowDIV2')">Дополнительная информация!</p>

              <p id="HideDIV2" class="HideDIV" style="display:none" onclick="DisplayNone('BaseID2','HideDIV2','ShowDIV2')">Скрыть</p>

              <div id="ShowDIV2" style="display:none">
                                <span style="font-weight: 900">
                                    Уважаемые клиенты, настоятельно рекомендуем Вам не нарушать ПДД, так как, несмотря на то,
                                    что автомобиль арендованный, Вы несете такую же административную и материальную ответственность в
                                    случае нарушения ПДД, как если бы это был Ваш собственный автомобиль!!!
                                </span>
              </div>

            </div>
            </p>
          </div>
        </div>
      </div>

      <div class="info-item" style="padding: 10px;">
        <div class="info-content info-content-text">
          <h3 class="info-title">Экстренные случай</h3>
          <img src="../../../static/img/slider/slider5.jpg" alt="" class="info-img" />
          <br>

          <div class="description">
            <p>
              В случае, если Вы попали в ДТП, у Вас угнали машину или других экстренных ситуациях обязательно:
            <ul>
              <li>&nbsp;свяжитесь с нами по телефону <nobr><a href="tel:+78005553535">+7 (800) 555-35-35</a></nobr>;</li>
              <li>&nbsp;позвоните по номеру <a href="tel:112">112</a> и вызовите необходимые службы (ДПС, полицию, скорую, если необходимо);</li>
              <li>&nbsp;дождитесь представителей экстренных служб;</li>
              <li>&nbsp;оформите все необходимые документы;</li>
              <li>&nbsp;предоставьте все полученные документы нашим специалистам.</li>
            </ul>
            <div>
              <p id="BaseID3" class="ShowDIV" onclick="Show('BaseID3','HideDIV3','ShowDIV3')">Дополнительная информация!</p>

              <p id="HideDIV3" class="HideDIV" style="display:none" onclick="DisplayNone('BaseID3','HideDIV3','ShowDIV3')">Скрыть</p>

              <div id="ShowDIV3" style="display:none">
                в случае какой-либо экстренной ситуации обязательно сохраняйте хладнокровие и рассудительность,
                обратитесь к нашим специалистам по телефону и мы поможем Вам в любой ситуации.
              </div>

            </div>
            </p>
          </div>
        </div>
      </div>

    </div>

  </section>
  <!-- section info -->
  <!--About US-->

  <section class="section section-info" style="margin-top: 5%; width: 100%;">

    <h1 class="RentalIF" style="margin-top: 0;">О нас</h1>

    <div class="info">

      <div class="info-item" style="padding: 10px;">
        <div class="info-content info-content-text">
          <h3 class="info-title">Аренда</h3>
          <img src="../../../static/img/slider/slider1.jpg" alt="" class="info-img" />
          <br>
          <div class="description">
            <p class="contacts-text">
              Наша компания предоставляет максимально прозрачные и понятные условия аренды автомобилей.
              Оформление всех необходимых документов занимает не более 10 минут!
              При повторной аренде автомобиля, Вы сможете арендовать машину по телефону или через наш сайт!
              Более полную информацию Вы найдете в разделе "Условия аренды".
            </p>
          </div>
        </div>
      </div>

      <div class="info-item" style="padding: 10px;">
        <div class="info-content info-content-text">
          <h3 class="info-title">Наши преимущества</h3>

          <img src="../../../static/img/slider/slider3.jpeg" alt="" class="info-img" />

          <div class="description">
            <p class="contacts-text">
            <div>
              <p id="BaseID4" class="ShowDIV" onclick="Show('BaseID4','HideDIV4','ShowDIV4')">НИЗКИЕ ЦЕНЫ!</p>

              <p id="HideDIV4" class="HideDIV" style="display:none" onclick="DisplayNone('BaseID4','HideDIV4','ShowDIV4')">НИЗКИЕ ЦЕНЫ!</p>

              <div id="ShowDIV4" style="display:none">
                Мы гарантируем одни из самых низких цен на аренду автомобилей!
                Так, самый доступный автомобиль для аренды всего от 1 000 рублей/сутки!!!
                Скидки и бонусы постоянным клиентам!
              </div>

              <p id="BaseID5" class="ShowDIV" onclick="Show('BaseID5','HideDIV5','ShowDIV5')">ТЕХНИЧЕСКОЕ СОСТОЯНИЕ</p>

              <p id="HideDIV5" class="HideDIV" style="display:none" onclick="DisplayNone('BaseID5','HideDIV5','ShowDIV5')">ТЕХНИЧЕСКОЕ СОСТОЯНИЕ</p>

              <div id="ShowDIV5" style="display:none">
                Машины регулярно проходят ТО и мы гарантируем отличное техническое состояние арендованного Вами автомобиля!
              </div>

              <p id="BaseID6" class="ShowDIV" onclick="Show('BaseID6','HideDIV6','ShowDIV6')">КЛИЕНТООРИЕНТИРОВАННОСТЬ</p>

              <p id="HideDIV6" class="HideDIV" style="display:none" onclick="DisplayNone('BaseID6','HideDIV6','ShowDIV6')">КЛИЕНТООРИЕНТИРОВАННОСТЬ</p>

              <div id="ShowDIV6" style="display:none">
                Наша компания ценит своих клиентов, поэтому мы предалгаем простые и понятные правила при аренде автомобиля!
              </div>

            </div>
            </p>
          </div>
        </div>
      </div>

      <div class="info-item" style="padding: 10px;">
        <div class="info-content info-content-text">
          <h3 class="info-title">Аксесcуары</h3>
          <img src="../../../static/img/about/why3.jpg" alt="" class="info-img" />
          <br>

          <div class="description">
            <p>
              В нашей компании Вы также можете взять в аренду навигатор (100 рублей/сутки),
              детское кресло (150 рублей/сутки) для комфорта и бехопасности тех, кто вам дорог,
              а также автобокс, чтобы наверняка поместилось всё, что вы приготовили с собой в поездку!
            </p>
          </div>
        </div>
      </div>

    </div>

  </section>

  <!--About US-->


  <script>

    function Show(BaseID, HideDIV, ShowDIV) {
      document.getElementById(HideDIV).setAttribute("style", "opacity:1; transition: 1s; height: 100%;");
      document.getElementById(BaseID).setAttribute("style", "display: none");
      document.getElementById(ShowDIV).setAttribute("style", "display: block");
    }
    function DisplayNone(BaseID, HideDIV, ShowDIV) {
      document.getElementById(HideDIV).setAttribute("style", "display: none");
      document.getElementById(ShowDIV).setAttribute("style", "display: none");
      document.getElementById(BaseID).setAttribute("style", "display: block");
    }

  </script>


  <br />

</div><!-- /End Section Container -->

<div class="container navbar-header" style="width: 100%; padding: 0px;">
  <!-- Footer 3
  ==================================================================== -->
  <footer id="footer-section-3" class="footer-page white-section footer" style="background: #404040; margin-top: 25px;">
    <!-- Section Container -->
    <div class="section-container" style=" width: 100%;">


      <!-- container -->
      <div class="container" style=" width: 100%;  height: 100%; align-content: center">
        <!-- row -->
        <!-- Widget Block ( Text ) -->
        <div class="col-md-2 widget-block text-widget-block" style="text-align: left; width: 25%;">
          <!-- Widget Block Container -->
          <div class="widget-block-container">

            <!-- Widget Block Content -->
            <div class="widget-block-content" style="color: white; font-size: 16px; align-content: center; padding: 20px 20px 0px;">

              <!-- Description -->
              <p>Аренда и прокат автомобилей во Владимире. Владимир, Проспект Строителей 7Б, стр. 14, ООО «Прокат-Авто»</p>

            </div><!-- /End Widget Block Content -->


          </div><!-- /End Widget Block Container -->
        </div><!-- /End Widget Block ( Text ) -->
        <!-- Widget Block ( Link ) -->
        <div class="col-md-2 widget-block link-widget-block" style="width: 17%;">
          <!-- Widget Block Container -->
          <div class="widget-block-container">


            <!-- Widget Block Title -->
            <div class="widget-block-title" style="color: white;">
              <h4>Информация</h4>
            </div><!-- /End Widget Block Title -->
            <!-- Widget Block Content -->
            <div class="widget-block-content">
              <a href="../Home/About.html" class="footer_link" style="text-decoration: none; color: white; display: block">О нас</a>
              <a href="../Home/Contacts.html" class="footer-link" style="text-decoration: none; color: white; display: block">Контакты</a>
              <a href="../Car/IndexAll.html" class="footer-link" style="text-decoration: none; color: white; display: block">Автопарк</a>
            </div><!-- /End Widget Block Content -->


          </div><!-- /End Widget Block Container -->
        </div><!-- /End Widget Block ( Link ) -->
        <!-- Widget Block ( Link ) -->
        <div class="col-md-2 widget-block link-widget-block" style="width: 19%;">
          <!-- Widget Block Container -->
          <div class="widget-block-container">

            <!-- Widget Block Title -->
            <div class="widget-block-title" style="color: white;">
              <h4>Личный кабинет</h4>
            </div><!-- /End Widget Block Title -->
            <!-- Widget Block Content -->
            <div class="widget-block-content">
              <a href="../Account/Reg.html" style="text-decoration: none; color: white; display: block">Регистрация</a>
              <a href="../Account/Log.html" style="text-decoration: none; color: white; display: block">Авторизация</a>
            </div><!-- /End Widget Block Content -->

          </div><!-- /End Widget Block Container -->
        </div><!-- /End Widget Block ( Link ) -->
        <!-- Widget Block ( Связь ) -->
        <div class="col-md-2 widget-block social-widget-block" style="width: 19%;">
          <!-- Widget Block Container -->
          <div class="widget-block-container">

            <!-- Widget Block Title -->
            <div class="widget-block-title" style="color: white;">
              <h4>Связаться с нами</h4>
            </div><!-- /End Widget Block Title -->
            <!-- Widget Block Content -->
            <div class="widget-block-content">

              <!-- Social Icons Block -->
              <div class="social-icons-block social-icons-block-md social-icons-block-style-1">
                <a style="color: white; text-decoration: none; font-size: 18px; display: block" href="tel:+78005553535">+7 (800) 555-35-35</a>
                <p style="text-decoration: none; color: white; display: block">9:00 - 18:00 ежедневно</p>
                <a style="color: white; text-decoration: none; display: block" href="mailto:CarRental@mail.ru">CarRental@mail.ru</a>
              </div><!-- /End Social Icons Block -->

            </div><!-- /End Widget Block Content -->


          </div><!-- /End Widget Block Container -->
        </div><!-- /End Widget Block ( Social ) -->
        <!-- Widget Block ( Social ) -->
        <div class="col-md-2 widget-block social-widget-block" style="width: 19%;">
          <!-- Widget Block Container -->
          <div class="widget-block-container">


            <!-- Widget Block Title -->
            <div class="widget-block-title" style="color: white;">
              <h4>Мы в соц. сетях</h4>
            </div><!-- /End Widget Block Title -->
            <!-- Widget Block Content -->
            <div class="widget-block-content">

              <!-- Social Icons Block -->
              <div class="social-icons-block social-icons-block-md social-icons-block-style-1">
                <div class="social vk">
                  <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                </div>

                <div class="social youtube">
                  <a href="#" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
                </div>

                <div class="social telegram">
                  <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
                </div>
              </div><!-- /End Social Icons Block -->

            </div><!-- /End Widget Block Content -->


          </div><!-- /End Widget Block Container -->
        </div><!-- /End Widget Block ( Social ) -->


      </div><!-- /End row -->
    </div><!-- /End container -->
  </footer><!-- /End Footer 3 -->
</div>

<script src="../../../static/js/jquery-1.10.2.js"></script>
<script src="../../../static/js/jquery-3.4.1.js"></script>
<script src="../../../static/js/bootstrap.js"></script>
<script src="../../../static/js/IndexScript.js"></script>

</body>
</html>
