
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакты</title>

  <link href="../../../static/css/bootstrap.css" rel="stylesheet"/>
  <link href="../../../static/css/Site.css" rel="stylesheet"/>

  <link href="../../../static/css/Foother.css" rel="stylesheet" />
  <link href="../../../static/css/About.css" rel="stylesheet" />

  <!---->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!---->

</head>
<body style="padding-bottom: 0px">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
      <!--                <span class="icon-bar"></span>-->
      <!--                <span class="icon-bar"></span>-->
      <!--                <span class="icon-bar"></span>-->
      <!--            </button>-->
      <img src="../../../static/img/logo.png" alt="" style="width: 40px; height: 40px; margin: 5px;">

      <a class="navbar-brand navBar-item" href="../Home/Index.html">Car FY</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="navBar-item"><a href="../Home/About.html">Информация</a></li>
        <li class="navBar-item"><a href="../Home/Contacts.html">Контакты</a></li>
        <li class="navBar-item"><a href="../Car/IndexAll.html">Автопарк</a></li>
        <li class="navBar-item"><a href="../Appeal/IndexAll.html">Вопросы</a></li>

        <li class="navBar-item"><a href="../Contract/IndexAll.html">Мои аренды</a></li>
        <li class="navBar-item"><a href="../Home/Customers.html">Пользователи</a></li>
      </ul>

      <ul>
        <form action="/logout" class="navbar-right" method="post" id="logoutForm">
          <input type="hidden" name="_csrf" value="${_csrf.token}">
          <ul class="nav navbar-nav navbar-right">
            <!--                        <li>-->
            <!--                            <a style="color: #46F046; text-decoration: none; font-size: 18px; display: block; font-weight: 600" href="tel:+78005553535">+7 (800) 555-35-35</a>-->
            <!--                        </li>-->
            <li>
              <a href="../Account/Index_Customer.html" title="Manage">Здравствуйте user@mail.ru!</a>
            </li>
            <li>
              <!--              <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>-->
              <a href="../Home/Index.html">Выйти</a>
            </li>
            <li>
              <a href="../Account/Log.html">Войти</a>
            </li>
          </ul>
        </form>
      </ul>

    </div>
  </div>
</div>

<div class="container body-content" style="display: flex; flex-direction: column; min-height: 100%; width: 80%;">

  <h1 class="RentalIF" style="margin-top: 5%;">Контакты</h1>

  <img src="../../../static/img/contacts/key.png"  style="position: absolute; z-index: -1; width: 45%; height: 80%; left: 55%; top: 15%; opacity: 0.8;"/>

  <div style="display: flex; width: 100%;">
    <div style="display: flex; width: 60%; border-radius: 15px;">
      <script type="text/javascript"
              charset="utf-8" async
              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A132120a355fa3a00db687aecb43156d2251e5957ae6ef0cb31ff458a636a7e6d&amp;width=700&amp;height=600&amp;lang=ru_RU&amp;scroll=true">
      </script>
    </div>

    <div>

      <div style="color: black; padding: 10px; margin-top: 75%;">

        <div>
          <h3 style="font-size: 32px; font-weight: 600;">Адресс</h3>
          <p style="font-size: 16px;">Владимир, Проспект Строителей 7Б, стр. 14,</p>
        </div>
        <div class="contacts-item">
          <h3 style="font-size: 32px; font-weight: 600;">Телефон</h3>
          <p class="contacts-text">
            <a style="text-decoration: none; color: #00ff00; font-weight: 900; font-size: 20px;" href="tel:+78005553535">+7 (800) 555-35-35</a>
          </p>
        </div>
        <div class="contacts-item">
          <h3 style="font-size: 32px; font-weight: 600;">Социальные сети</h3>

          <div class="social vk">
            <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
          </div>

          <div class="social youtube">
            <a href="#" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
          </div>

          <div class="social telegram">
            <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <br />

</div><!-- /End Section Container -->

<div class="container navbar-header" style="width: 100%; padding: 0px;">
  <!-- Footer 3
  ==================================================================== -->
  <footer id="footer-section-3" class="footer-page white-section footer" style="background: #404040; margin-top: 25px;">
    <!-- Section Container -->
    <div class="section-container" style=" width: 100%;">


      <!-- container -->
      <div class="container" style=" width: 100%;  height: 100%; align-content: center">
        <!-- row -->
        <!-- Widget Block ( Text ) -->
        <div class="col-md-2 widget-block text-widget-block" style="text-align: left; width: 25%;">
          <!-- Widget Block Container -->
          <div class="widget-block-container">

            <!-- Widget Block Content -->
            <div class="widget-block-content" style="color: white; font-size: 16px; align-content: center; padding: 20px 20px 0px;">

              <!-- Description -->
              <p>Аренда и прокат автомобилей во Владимире. Владимир, Проспект Строителей 7Б, стр. 14, ООО «Прокат-Авто»</p>

            </div><!-- /End Widget Block Content -->


          </div><!-- /End Widget Block Container -->
        </div><!-- /End Widget Block ( Text ) -->
        <!-- Widget Block ( Link ) -->
        <div class="col-md-2 widget-block link-widget-block" style="width: 17%;">
          <!-- Widget Block Container -->
          <div class="widget-block-container">


            <!-- Widget Block Title -->
            <div class="widget-block-title" style="color: white;">
              <h4>Информация</h4>
            </div><!-- /End Widget Block Title -->
            <!-- Widget Block Content -->
            <div class="widget-block-content">
              <a href="../Home/About.html" class="footer_link" style="text-decoration: none; color: white; display: block">О нас</a>
              <a href="../Home/Contacts.html" class="footer-link" style="text-decoration: none; color: white; display: block">Контакты</a>
              <a href="../Car/IndexAll.html" class="footer-link" style="text-decoration: none; color: white; display: block">Автопарк</a>
            </div><!-- /End Widget Block Content -->


          </div><!-- /End Widget Block Container -->
        </div><!-- /End Widget Block ( Link ) -->
        <!-- Widget Block ( Link ) -->
        <div class="col-md-2 widget-block link-widget-block" style="width: 19%;">
          <!-- Widget Block Container -->
          <div class="widget-block-container">

            <!-- Widget Block Title -->
            <div class="widget-block-title" style="color: white;">
              <h4>Личный кабинет</h4>
            </div><!-- /End Widget Block Title -->
            <!-- Widget Block Content -->
            <div class="widget-block-content">
              <a href="../Account/Reg.html" style="text-decoration: none; color: white; display: block">Регистрация</a>
              <a href="../Account/Log.html" style="text-decoration: none; color: white; display: block">Авторизация</a>
            </div><!-- /End Widget Block Content -->

          </div><!-- /End Widget Block Container -->
        </div><!-- /End Widget Block ( Link ) -->
        <!-- Widget Block ( Связь ) -->
        <div class="col-md-2 widget-block social-widget-block" style="width: 19%;">
          <!-- Widget Block Container -->
          <div class="widget-block-container">

            <!-- Widget Block Title -->
            <div class="widget-block-title" style="color: white;">
              <h4>Связаться с нами</h4>
            </div><!-- /End Widget Block Title -->
            <!-- Widget Block Content -->
            <div class="widget-block-content">

              <!-- Social Icons Block -->
              <div class="social-icons-block social-icons-block-md social-icons-block-style-1">
                <a style="color: white; text-decoration: none; font-size: 18px; display: block" href="tel:+78005553535">+7 (800) 555-35-35</a>
                <p style="text-decoration: none; color: white; display: block">9:00 - 18:00 ежедневно</p>
                <a style="color: white; text-decoration: none; display: block" href="mailto:CarRental@mail.ru">CarRental@mail.ru</a>
              </div><!-- /End Social Icons Block -->

            </div><!-- /End Widget Block Content -->


          </div><!-- /End Widget Block Container -->
        </div><!-- /End Widget Block ( Social ) -->
        <!-- Widget Block ( Social ) -->
        <div class="col-md-2 widget-block social-widget-block" style="width: 19%;">
          <!-- Widget Block Container -->
          <div class="widget-block-container">


            <!-- Widget Block Title -->
            <div class="widget-block-title" style="color: white;">
              <h4>Мы в соц. сетях</h4>
            </div><!-- /End Widget Block Title -->
            <!-- Widget Block Content -->
            <div class="widget-block-content">

              <!-- Social Icons Block -->
              <div class="social-icons-block social-icons-block-md social-icons-block-style-1">
                <div class="social vk">
                  <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                </div>

                <div class="social youtube">
                  <a href="#" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
                </div>

                <div class="social telegram">
                  <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
                </div>
              </div><!-- /End Social Icons Block -->

            </div><!-- /End Widget Block Content -->


          </div><!-- /End Widget Block Container -->
        </div><!-- /End Widget Block ( Social ) -->


      </div><!-- /End row -->
    </div><!-- /End container -->
  </footer><!-- /End Footer 3 -->
</div>

<script src="../../../static/js/jquery-1.10.2.js"></script>
<script src="../../../static/js/jquery-3.4.1.js"></script>
<script src="../../../static/js/bootstrap.js"></script>
<script src="../../../static/js/IndexScript.js"></script>

</body>
</html>
