<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="../../../static/css/bootstrap.css" rel="stylesheet"/>
    <link href="../../../static/css/Site.css" rel="stylesheet"/>

    <link href="../../../static/css/Foother.css" rel="stylesheet" />
    <link href="../../../static/css/Contact_CSS.css" rel="stylesheet" />
    <link href="../../../static/css/Button.css" rel="stylesheet" />
    <link href="../../../static/css/About.css" rel="stylesheet" />
    <!---->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!---->

</head>
<body style="padding-bottom: 0px">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
<!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--            </button>-->
            <img src="../../../static/img/logo.png" alt="" style="width: 40px; height: 40px; margin: 5px;">

            <a class="navbar-brand navBar-item" href="../Home/Index.html">Car FY</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="navBar-item"><a href="../Home/About.html">Информация</a></li>
                <li class="navBar-item"><a href="../Home/Contacts.html">Контакты</a></li>
                <li class="navBar-item"><a href="../Car/IndexAll.html">Автопарк</a></li>
                <li class="navBar-item"><a href="../Appeal/IndexAll.html">Вопросы</a></li>

                <li class="navBar-item"><a href="../Contract/IndexAll.html">Мои аренды</a></li>
                <li class="navBar-item"><a href="../Home/Customers.html">Пользователи</a></li>
            </ul>

            <ul>
                <form action="/logout" class="navbar-right" method="post" id="logoutForm">
                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                    <ul class="nav navbar-nav navbar-right">
<!--                        <li>-->
<!--                            <a style="color: #46F046; text-decoration: none; font-size: 18px; display: block; font-weight: 600" href="tel:+78005553535">+7 (800) 555-35-35</a>-->
<!--                        </li>-->
                        <li>
                            <a href="../Account/Index_Customer.html" title="Manage">Здравствуйте user@mail.ru!</a>
                        </li>
                        <li>
                            <!--              <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>-->
                            <a href="../Home/Index.html">Выйти</a>
                        </li>
                        <li>
                            <a href="../Account/Log.html">Войти</a>
                        </li>
                    </ul>
                </form>
            </ul>

        </div>
    </div>
</div>

<div class="container body-content" style="display: flex; flex-direction: column; min-height: 100%; width: 80%;">

    <br>

    <!--Slider-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 4%;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active" style="height: 500px;">
                <img src="../../../static/img/slider/slider1.jpg" alt="Chania" style="height: 500px; width: 100%">
                <div class="carousel-caption" style="background: rgba(40, 40, 40, 0.5)">
                    <h3>Аренда</h3>
                    <p>Прозрачные условия аренды для всех!</p>
                </div>
            </div>

            <div class="item">
                <img src="../../../static/img/slider/slider6.jpg" alt="Chicago" style="height: 500px; width: 100%">
                <div class="carousel-caption" style="background: rgba(40, 40, 40, 0.5)">
                    <h3>Автопарк</h3>
                    <p>У нас огромный автопарк, где вы можете выбрать авто под любые нужды!</p>
                </div>
            </div>

            <div class="item">
                <img src="../../../static/img/slider/slider3.jpeg" alt="New York" style="height: 500px; width: 100%;">
                <div class="carousel-caption" style="background: rgba(40, 40, 40, 0.5)">
                    <h3>Почему мы?</h3>
                    <p>Почему стоит выбрать именно нас? Потому что!</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
<!--            <span class="glyphicon glyphicon-chevron-left"></span>-->
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
<!--            <span class="glyphicon glyphicon-chevron-right"></span>-->
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--Slider-->

    <p class="headerSelect">Выберите авто для себя</p>

    <!-- Start search -->
    <form method="get" action="">
        <div style="display: flex; width: 100%;">

            <div style="padding: 0; display: inline-block; text-align: left; width: 50%;">
                <label>
                    <input type="number" class="inputPrice" placeholder="Цена от" name="PriceOT" />
                    <input type="number" class="inputPrice" placeholder="Цена до" name="PriceDO" />
                </label>
            </div>

            <div style="padding: 0; display: inline-block; text-align: center; width: 90%;">
                <select class="inputCar" id="ListBrand" name="ListBrand">
                    <option value="">Марка авто</option>
                    <option value="Lifan">Lifan</option>
                    <option value="Ford">Ford</option>
                    <option value="BMW">BMW</option>
                    <option value="Skoda">Skoda</option>
                    <option value="Tesla">Tesla</option>
                    <option value="Renault">Renault</option>
                    <option value="Kia">Kia</option>
                    <option value="Volkswagen">Volkswagen</option>
                    <option value="Mini">Mini</option>
                    <option value="Audi">Audi</option>
                    <option value="Mazda">Mazda</option>
                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                    <option value="Nissan">Nissan</option>
                    <option value="Suzuki">Suzuki</option>
                    <option value="LADA">LADA</option>
                    <option value="ГАЗ 21">ГАЗ 21</option>
                    <option value="TEST">TEST</option>
                </select>

                <select class="inputCar" id="ListTypeTransmition" name="ListTypeTransmition"><option value="">Тип КП</option>
                    <option value="Механическая">Механическая</option>
                    <option value="Автоматическая">Автоматическая</option>
                    <option value="Робот">Робот</option>
                </select>

            </div>


            <div style="padding: 0; display: inline-block; text-align: center; width: 50%;">
                <input type="submit" value="Найти автомобиль" style="font-size: 24px; background: #46F046; padding: 10px; border-radius: 15px; border: 2px solid #46F046" />
            </div>

        </div>
    </form>
    <!-- End search -->

    <!--Car classes-->
    <div style="display: flex; width: 100%; justify-content:center; margin-top: 2%;">

        <a class="carLink" href="../Car/IndexAll.html">
            <div>
                <img src="../../../static/img/carClass/economy.png" loading="lazy" class="car-image" style="width: 130px; height: 80px;">
            </div>
            <div>
                <div class="type">Эконом</div>
                <div style="color: #000000; text-align: center">1000 ₽ - 2999 ₽</div>
            </div>
        </a>

        <a href="../Car/IndexAll.html" class="carLink">
            <div>
                <img src="../../../static/img/carClass/comfort.png" loading="lazy" class="car-image" style="width: 130px; height: 80px;">
            </div>
            <div>
                <div class="type">Комфорт</div>
                <div style="color: #000000; text-align: center">3000 ₽ - 4999 ₽</div>
            </div>
        </a>


        <a href="../Car/IndexAll.html" class="carLink">
            <div>
                <img src="../../../static/img/carClass/business.png" loading="lazy" class="car-image" style="width: 130px; height: 80px;" alt="">
            </div>
            <div>
                <div class="type">Бизнес</div>
                <div style="color: #000000; text-align: center">от 5000 ₽</div>
            </div>
        </a>

        <a href="../Car/IndexAll.html" class="carLink">
            <div>
                <img src="../../../static/img/carClass/premium.png" loading="lazy" class="car-image" style="width: 130px; height: 80px;">
            </div>
            <div>
                <div class="type">Premium</div>
                <div style="color: #000000; text-align: center">от 9000 ₽</div>
            </div>
        </a>

        <a href="../Car/IndexAll.html" class="carLink">
            <div>
                <img src="../../../static/img/carClass/suvs.png" loading="lazy" class="car-image" style="width: 130px; height: 80px;">
            </div>
            <div>
                <div class="type">Внедорожники</div>
                <div style="color: #000000; text-align: center">от 1600 ₽</div>
            </div>
        </a>

        <a href="../Car/IndexAll.html" class="carLink">
            <div>
                <img src="../../../static/img/carClass/minivans.png" loading="lazy" class="car-image" style="width: 130px; height: 80px;">
            </div>
            <div>
                <div class="type">Минивэны</div>
                <div style="color: #000000; text-align: center">от 1300 ₽</div>
            </div>
        </a>

        <a href="../Car/IndexAll.html" class="carLink">
            <div>
                <img src="../../../static/img/carClass/unique.png" loading="lazy" class="car-image" style="width: 130px; height: 80px;">
            </div>
            <div>
                <div class="type">Уникальные авто</div>
                <div style="color: #000000; text-align: center">от 4000 ₽</div>
            </div>
        </a>
    </div>
    <!--Car classes-->

    <br />
    <br />

    <!--Popular cars-->

    <a href="../Car/IndexAll.html" class="popularCarHeader">Популярные авто →</a>

    <div style="width: 100%">
        <div class="col-xl-3 col-lg-4">
            <div class="bg-info img-rounded shadow-sm">

                <div style="padding: 15px; margin: 10px">
                    <img src="../../../static/img/cars/ford_shelby.jpeg" width="100%" height="220px" />
                    <p>
                    <h4>
                        <b>
                            Ford
                            Cobra Shelby
                            ,
                            1961
                            Уникальные авто
                        </b>
                    </h4>
                    </p>
                    <hr />

                    <div class="auto-description-start" style=" vertical-align: top; font-size: 14px; width: 30%; display: inline-block; margin-right: 50px;">
                        <p class="auto-description">Коробка</p>
                        <p class="auto-description">Привод</p>
                        <p class="auto-description">Пробег</p>
                        <p class="auto-description">Мощность</p>
                        <p class="auto-description">Тип кузова</p>
                    </div>

                    <div class="auto-description-edn" style=" vertical-align: top; font-size: 14px; width: 47%; display: inline-block; text-align: right;">
                        <p class="auto-description">Механическая</p>
                        <p class="auto-description">Передний</p>
                        <p class="auto-description">&gt;89000</p>
                        <p class="auto-description">250 лс.</p>
                        <p class="auto-description">Купэ</p>
                    </div>

                    <div class="bg-info">
                        <h4><b>от 20000</b> / сутки</h4>
                    </div>

                    <h4 class="text-success text-uppercase" style="text-align: center">
                    </h4>
                    <div style="width:100%; height:100%; text-align:center;">
                        <a class="btn-details" href="../Car/Details.html">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4">
            <div class="bg-info img-rounded shadow-sm">

                <div style="padding: 15px; margin: 10px">
                    <img src="../../../static/img/cars/bmwX5.jpeg" width="100%" height="220px" />
                    <p>
                    <h4>
                        <b>
                            BMW
                            X5
                            ,
                            2016
                            Бизнес
                        </b>
                    </h4>
                    </p>
                    <hr />

                    <div class="auto-description-start" style=" vertical-align: top; font-size: 14px; width: 30%; display: inline-block; margin-right: 50px;">
                        <p class="auto-description">Коробка</p>
                        <p class="auto-description">Привод</p>
                        <p class="auto-description">Пробег</p>
                        <p class="auto-description">Мощность</p>
                        <p class="auto-description">Тип кузова</p>
                    </div>

                    <div class="auto-description-edn" style=" vertical-align: top; font-size: 14px; width: 47%; display: inline-block; text-align: right;">
                        <p class="auto-description">Робот</p>
                        <p class="auto-description">Полный</p>
                        <p class="auto-description">&gt;67000</p>
                        <p class="auto-description">250 лс.</p>
                        <p class="auto-description">Внедорожник</p>
                    </div>

                    <div class="bg-info">
                        <h4><b>от 12500</b> / сутки</h4>
                    </div>

                    <h4 class="text-success text-uppercase" style="text-align: center">
                    </h4>
                    <div style="width:100%; height:100%; text-align:center;">
                        <a class="btn-details" href="../Car/Details.html">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-info img-rounded shadow-sm">

                <div style="padding: 15px; margin: 10px">
                    <img src="../../../static/img/cars/bmwX5.jpeg" width="100%" height="220px" />
                    <p>
                    <h4>
                        <b>
                            BMW
                            X5
                            ,
                            2013
                            Бизнес
                        </b>
                    </h4>
                    </p>
                    <hr />

                    <div class="auto-description-start" style=" vertical-align: top; font-size: 14px; width: 30%; display: inline-block; margin-right: 50px;">
                        <p class="auto-description">Коробка</p>
                        <p class="auto-description">Привод</p>
                        <p class="auto-description">Пробег</p>
                        <p class="auto-description">Мощность</p>
                        <p class="auto-description">Тип кузова</p>
                    </div>

                    <div class="auto-description-edn" style=" vertical-align: top; font-size: 14px; width: 47%; display: inline-block; text-align: right;">
                        <p class="auto-description">Автоматическая</p>
                        <p class="auto-description">Полный</p>
                        <p class="auto-description">&gt;100000</p>
                        <p class="auto-description">250 лс.</p>
                        <p class="auto-description">Внедорожник</p>
                    </div>

                    <div class="bg-info">
                        <h4><b>от 6000</b> / сутки</h4>
                    </div>

                    <h4 class="text-success text-uppercase" style="text-align: center">
                    </h4>
                    <div style="width:100%; height:100%; text-align:center;">
                        <a class="btn-details" href="../Car/Details.html">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Popular cars-->
    <!--Why us-->

    <h1 class="whyUsHeader">Почемму стоит выбрать нас?</h1>

    <br />

    <div class="WHYUs_container">

        <div class="WHY_Us_block_notAtive">
            <img src="../../../static/img/slider/slider4.jpg" class="WHY_US_img"/>
            <div class="WHY_US_Text">
                Наша компания ещё не вышла нарынок, но уже имеет огромную известность среди автолюбителей!
            </div>
        </div>

        <div class="WHY_Us_block_notAtive">
            <img src="../../../static/img/slider/slider5.jpg" class="WHY_US_img" />
            <div class="WHY_US_Text">
                Все наши автомобили имеют строховку КАСКО и ОСАГО. Так что, вы слёгкостью можете повторять все безумные трюки из GTA!
            </div>
        </div>

        <div class="WHY_Us_block_notAtive">
            <img src="../../../static/img/slider/slider6.jpg" class="WHY_US_img" />
            <div class="WHY_US_Text">
                Нашему автопарку позавидуют даже шейхи из АОЭ! У них точно нет ГАЗ 21 волга в таком же состоянии как у нас!
            </div>
        </div>


    </div>

    <!--Why us-->


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>


    <br />

</div><!-- /End Section Container -->

<div class="container navbar-header" style="width: 100%; padding: 0px;">
    <!-- Footer 3
    ==================================================================== -->
    <footer id="footer-section-3" class="footer-page white-section footer" style="background: #404040; margin-top: 25px;">
        <!-- Section Container -->
        <div class="section-container" style=" width: 100%;">


            <!-- container -->
            <div class="container" style=" width: 100%;  height: 100%; align-content: center">
                <!-- row -->
                <!-- Widget Block ( Text ) -->
                <div class="col-md-2 widget-block text-widget-block" style="text-align: left; width: 25%;">
                    <!-- Widget Block Container -->
                    <div class="widget-block-container">

                        <!-- Widget Block Content -->
                        <div class="widget-block-content" style="color: white; font-size: 16px; align-content: center; padding: 20px 20px 0px;">

                            <!-- Description -->
                            <p>Аренда и прокат автомобилей во Владимире. Владимир, Проспект Строителей 7Б, стр. 14, ООО «Прокат-Авто»</p>

                        </div><!-- /End Widget Block Content -->


                    </div><!-- /End Widget Block Container -->
                </div><!-- /End Widget Block ( Text ) -->
                <!-- Widget Block ( Link ) -->
                <div class="col-md-2 widget-block link-widget-block" style="width: 17%;">
                    <!-- Widget Block Container -->
                    <div class="widget-block-container">


                        <!-- Widget Block Title -->
                        <div class="widget-block-title" style="color: white;">
                            <h4>Информация</h4>
                        </div><!-- /End Widget Block Title -->
                        <!-- Widget Block Content -->
                        <div class="widget-block-content">
                            <a href="../Home/About.html" class="footer_link" style="text-decoration: none; color: white; display: block">О нас</a>
                            <a href="../Home/Contacts.html" class="footer-link" style="text-decoration: none; color: white; display: block">Контакты</a>
                            <a href="../Car/IndexAll.html" class="footer-link" style="text-decoration: none; color: white; display: block">Автопарк</a>
                        </div><!-- /End Widget Block Content -->


                    </div><!-- /End Widget Block Container -->
                </div><!-- /End Widget Block ( Link ) -->
                <!-- Widget Block ( Link ) -->
                <div class="col-md-2 widget-block link-widget-block" style="width: 19%;">
                    <!-- Widget Block Container -->
                    <div class="widget-block-container">

                        <!-- Widget Block Title -->
                        <div class="widget-block-title" style="color: white;">
                            <h4>Личный кабинет</h4>
                        </div><!-- /End Widget Block Title -->
                        <!-- Widget Block Content -->
                        <div class="widget-block-content">
                            <a href="../Account/Reg.html" style="text-decoration: none; color: white; display: block">Регистрация</a>
                            <a href="../Account/Log.html" style="text-decoration: none; color: white; display: block">Авторизация</a>
                        </div><!-- /End Widget Block Content -->

                    </div><!-- /End Widget Block Container -->
                </div><!-- /End Widget Block ( Link ) -->
                <!-- Widget Block ( Связь ) -->
                <div class="col-md-2 widget-block social-widget-block" style="width: 19%;">
                    <!-- Widget Block Container -->
                    <div class="widget-block-container">

                        <!-- Widget Block Title -->
                        <div class="widget-block-title" style="color: white;">
                            <h4>Связаться с нами</h4>
                        </div><!-- /End Widget Block Title -->
                        <!-- Widget Block Content -->
                        <div class="widget-block-content">

                            <!-- Social Icons Block -->
                            <div class="social-icons-block social-icons-block-md social-icons-block-style-1">
                                <a style="color: white; text-decoration: none; font-size: 18px; display: block" href="tel:+78005553535">+7 (800) 555-35-35</a>
                                <p style="text-decoration: none; color: white; display: block">9:00 - 18:00 ежедневно</p>
                                <a style="color: white; text-decoration: none; display: block" href="mailto:CarRental@mail.ru">CarRental@mail.ru</a>
                            </div><!-- /End Social Icons Block -->

                        </div><!-- /End Widget Block Content -->


                    </div><!-- /End Widget Block Container -->
                </div><!-- /End Widget Block ( Social ) -->
                <!-- Widget Block ( Social ) -->
                <div class="col-md-2 widget-block social-widget-block" style="width: 19%;">
                    <!-- Widget Block Container -->
                    <div class="widget-block-container">


                        <!-- Widget Block Title -->
                        <div class="widget-block-title" style="color: white;">
                            <h4>Мы в соц. сетях</h4>
                        </div><!-- /End Widget Block Title -->
                        <!-- Widget Block Content -->
                        <div class="widget-block-content">

                            <!-- Social Icons Block -->
                            <div class="social-icons-block social-icons-block-md social-icons-block-style-1">
                                <div class="social vk">
                                    <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                                </div>

                                <div class="social youtube">
                                    <a href="#" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
                                </div>

                                <div class="social telegram">
                                    <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
                                </div>
                            </div><!-- /End Social Icons Block -->

                        </div><!-- /End Widget Block Content -->


                    </div><!-- /End Widget Block Container -->
                </div><!-- /End Widget Block ( Social ) -->


            </div><!-- /End row -->
        </div><!-- /End container -->
    </footer><!-- /End Footer 3 -->
</div>

<script src="../../../static/js/jquery-1.10.2.js"></script>
<script src="../../../static/js/jquery-3.4.1.js"></script>
<script src="../../../static/js/bootstrap.js"></script>
<script src="../../../static/js/IndexScript.js"></script>

</body>
</html>
