<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Аренды</title>

  <link href="../../../static/css/bootstrap.css" rel="stylesheet"/>
<!--  <link href="../../../static/css/Site.css" rel="stylesheet"/>-->

<!--  <link href="../../../static/css/Foother.css" rel="stylesheet" />-->
  <!---->
<!--  <link href="../../../static/css/Button.css" rel="stylesheet" />-->
<!--  <link href="../../../static/css/About.css" rel="stylesheet" />-->
<!--  <link href="../../../static/css/Contact_CSS.css" rel="stylesheet" />-->
  <link rel="stylesheet" href="../../../static/css/Appeal.css">
  <!---->
  <!--Отзывы-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
      <!--                <span class="icon-bar"></span>-->
      <!--                <span class="icon-bar"></span>-->
      <!--                <span class="icon-bar"></span>-->
      <!--            </button>-->
      <img src="../../../static/img/logo.png" alt="" style="width: 40px; height: 40px; margin: 5px;">

      <a class="navbar-brand navBar-item" href="../Home/Index.html">Car FY</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="navBar-item"><a href="../Home/About.html">Информация</a></li>
        <li class="navBar-item"><a href="../Home/Contacts.html">Контакты</a></li>
        <li class="navBar-item"><a href="../Car/IndexAll.html">Автопарк</a></li>
        <li class="navBar-item"><a href="../Appeal/IndexAll.html">Вопросы</a></li>

        <li class="navBar-item"><a href="../Contract/IndexAll.html">Мои аренды</a></li>
        <li class="navBar-item"><a href="../Home/Customers.html">Пользователи</a></li>
      </ul>

      <ul>
        <form action="/logout" class="navbar-right" method="post" id="logoutForm">
          <input type="hidden" name="_csrf" value="${_csrf.token}">
          <ul class="nav navbar-nav navbar-right">
            <!--                        <li>-->
            <!--                            <a style="color: #46F046; text-decoration: none; font-size: 18px; display: block; font-weight: 600" href="tel:+78005553535">+7 (800) 555-35-35</a>-->
            <!--                        </li>-->
            <li>
              <a href="../Account/Index_Customer.html" title="Manage">Здравствуйте user@mail.ru!</a>
            </li>
            <li>
              <!--              <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>-->
              <a href="../Home/Index.html">Выйти</a>
            </li>
            <li>
              <a href="../Account/Log.html">Войти</a>
            </li>
          </ul>
        </form>
      </ul>

    </div>
  </div>
</div>

<div class="container body-content">

  <br />
  <ul class="nav nav-tabs" style="margin-top: 10%; margin-bottom: 2%;">
    <li class="active" style="width: 50%;">
      <a data-toggle="tab" href="#questions" style=" padding: 10px 5px 5px 5px;">
        <p style="font-size: 24px; font-weight: 600; text-align: center;">Задать вопрос</p>
      </a>
    </li>
    <li style="width: 50%;">
      <a data-toggle="tab" href="#appeals" style=" padding: 10px 5px 5px 5px;">
        <p style="text-align: center;font-size: 24px; font-weight: 600;">Написать отзыв</p>
      </a>
    </li>
  </ul>

  <!--Block-->
  <div class="tab-content">
    <div id="questions" class="tab-pane fade in active">
      <!-- Question form -->
      <form method="get" action="">
        <div class="questionBloc">

          <div class="inputForm">
            <label for="topic">Тема: </label>
            <input type="text" id="topic" class="inputFormInput">
          </div>

          <div class="inputForm">
            <label for="question">Вопрос: </label>
            <input type="text" id="question" class="inputFormInput">
          </div>
          <input type="submit" value="Отправить" style="display: flex; margin: 0 auto; justify-content: center; width: 50%;font-size: 20px; background: #46F046; padding: 5px; border-radius: 15px; border: 2px solid #46F046">
        </div>
      </form>
      <!-- Question form -->

      <br>
      <h2 style="text-align: center; font-weight: 600">Популярные вопросы</h2>
      <br>

      <div class="questionBloc">
        <div class="inputForm">
          <label >Тема: </label>
          <label style="font-weight: 100">Аренда</label>
        </div>

        <div class="inputForm">
          <label>Вопрос: </label>
          <p class="answer">
            Могу ли я взять автомобиль на аренду, если мне нет 21 года, у меня нет прав, я слепой и потерял ноги на афганской войне?
          </p>
        </div>
        <div class="inputForm">
          <label>Ответ: </label>
          <label style="font-weight: 100">Здравствуйте, конечно!</label>
        </div>
      </div>
      <br>
      <div class="questionBloc">
        <div class="inputForm">
          <label >Тема: </label>
          <label style="font-weight: 100">Аренда</label>
        </div>

        <div class="inputForm">
          <label>Вопрос: </label>
          <p class="answer">
            Могу ли я взять автомобиль на аренду, если мне нет 21 года, у меня нет прав, я слепой и потерял ноги на афганской войне?
          </p>
        </div>
        <div class="inputForm">
          <label>Ответ: </label>
          <label style="font-weight: 100">Здравствуйте, конечно!</label>
        </div>
      </div>
      <br>
      <div class="questionBloc">
        <div class="inputForm">
          <label >Тема: </label>
          <label style="font-weight: 100">Аренда</label>
        </div>

        <div class="inputForm">
          <label>Вопрос: </label>
          <p class="answer">
            Могу ли я взять автомобиль на аренду, если мне нет 21 года, у меня нет прав, я слепой и потерял ноги на афганской войне?
          </p>
        </div>
        <div class="inputForm">
          <label>Ответ: </label>
          <label style="font-weight: 100">Здравствуйте, конечно!</label>
        </div>
      </div>
      <br>
      <div class="questionBloc">
        <div class="inputForm">
          <label >Тема: </label>
          <label style="font-weight: 100">Аренда</label>
        </div>

        <div class="inputForm">
          <label>Вопрос: </label>
          <p class="answer">
            Могу ли я взять автомобиль на аренду, если мне нет 21 года, у меня нет прав, я слепой и потерял ноги на афганской войне?
          </p>
        </div>
        <div class="inputForm">
          <label>Ответ: </label>
          <label style="font-weight: 100">Здравствуйте, конечно!</label>
        </div>
      </div>
      <br />

      <div style="width: 100%; align-items: center;">

        <ul class="pagination" style="position: absolute; left: 45%">
          <li class="active">
            <a href="IndexAll.html">1</a>
          </li>
          <li>
            <a href="IndexAll.html">2</a>
          </li>
          <li>
            <a href="IndexAll.html">3</a>
          </li>
          <li>
            <a href="IndexAll.html">4</a>
          </li>
          <li>
            <a href="IndexAll.html">5</a>
          </li>
        </ul>

        <br />
        <br />
        <br />
      </div>

    </div>
    <div id="appeals" class="tab-pane fade in">
      <!-- Appeal form -->
      <div class="questionBloc" style="width: 30%; display: flex; margin: 0 auto">
        <form action="" method="post" style="padding: 10px;">

          <div class="mb-3 row">
            <label for="staticEmail" class="col-form-label" style="text-align: center; width: 100%;">Выберите количество звезд:</label>
            <div class="col-sm-10 stars" id="staticEmail" style="width: 100%; display: flex; margin: 0 auto; justify-content: center">
              <span class="star" data-value="1">&#9733;</span>
              <span class="star" data-value="2">&#9733;</span>
              <span class="star" data-value="3">&#9733;</span>
              <span class="star" data-value="4">&#9733;</span>
              <span class="star" data-value="5">&#9733;</span>
            </div>
            <input type="hidden" id="stars-value" name="stars-value" value="">
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-form-label" style="width: 100%; text-align: center">Оставьте свой отзыв:</label>
            <div class="col-sm-10"  style="width: 100%;">
              <textarea name="review" class="form-control" id="inputPassword" style="width: 100%; resize: vertical"></textarea>
            </div>
          </div>

          <div class="mb-3 row" style="width: 100%; text-align: center">
            <label for="anonymous" class="col-form-label">Анонимный отзыв:</label>
            <input type="checkbox" id="anonymous">
          </div>
          <input type="submit" value="Отправить" style="width: 100%;font-size: 20px; background: #46F046; padding: 5px; border-radius: 15px; border: 2px solid #46F046">

        </form>
      </div>
      <br>

      <script>
        const stars = document.querySelectorAll('.star');

        stars.forEach(star => {
          star.addEventListener('click', () => {
            const value = star.getAttribute('data-value');
            const starsValue = document.getElementById('stars-value');
            starsValue.value = value;

            // Выделяем выбранные звезды
            stars.forEach(s => {
              if (s.getAttribute('data-value') <= value) {
                s.classList.add('selected');
              } else {
                s.classList.remove('selected');
              }
            });
          });
        });
      </script>
      <!-- Appeal form -->

      <div class="koguvcavis-varazdel">
        <div class="sestim-donials">
          <h1>Отзывы</h1>
          <div class="sectionesag"></div>
          <div class="sagestim-lonials">

            <div class="vemotau-vokusipol">
              <div class="testimonial">
                <img src="https://w7.pngwing.com/pngs/450/483/png-transparent-customer-service-customer-relationship-management-consumer-customer-face-service-people.png" alt="">
                <div class="gecedanam">Антон Попов</div>
                <div class="apogered-gselected">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>

                <p>Очень доволен услугами компании по прокату авто. Машины в отличном состоянии, всегда чистые и ухоженные.
                  Очень удобно, что можно оформить заказ и оплатить онлайн, не нужно тратить время на поездку в офис.
                  Персонал всегда дружелюбный и готов помочь в любой ситуации.</p>
              </div>
            </div>

            <div class="vemotau-vokusipol">
              <div class="testimonial">
                <img src="https://w7.pngwing.com/pngs/530/784/png-transparent-computer-icons-encapsulated-postscript-information-user-miscellaneous-black-silhouette.png" alt="">
                <div class="gecedanam">Анонимный пользователь</div>
                <div class="apogered-gselected">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>

                <p>Хотелось бы отметить, что компания по прокату авто несколько раз подводила меня в качестве оказываемых услуг.
                  Несколько раз мне доставляли машины с проблемами, такими как шум в двигателе или проблемы с тормозами.
                  К сожалению, меня не устроило и отношение персонала, они были не внимательны к моим проблемам.
                  В общем, я не могу порекомендовать эту компанию</p>
              </div>
            </div>

            <div class="vemotau-vokusipol">
              <div class="testimonial">
                <img src="https://w7.pngwing.com/pngs/450/483/png-transparent-customer-service-customer-relationship-management-consumer-customer-face-service-people.png" alt="">
                <div class="gecedanam">Каспер Волков</div>
                <div class="apogered-gselected">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>

                <p>Компания по прокату авто оставила мне только положительные впечатления.
                  Заказывал автомобиль на выходные, все было быстро и без проблем.
                  Машина была в идеальном состоянии, и я получил много удовольствия от поездки.
                  Очень понравилась возможность выбрать дополнительное оборудование, такое как видеорегистратор и детское кресло,
                  это сильно облегчило поездку!
                </p>
              </div>
            </div>

            <div class="vemotau-vokusipol">
              <div class="testimonial">
                <img src="https://w7.pngwing.com/pngs/450/483/png-transparent-customer-service-customer-relationship-management-consumer-customer-face-service-people.png" alt="">
                <div class="gecedanam">Антон Попов</div>
                <div class="apogered-gselected">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>

                <p>Очень доволен услугами компании по прокату авто. Машины в отличном состоянии, всегда чистые и ухоженные.
                  Очень удобно, что можно оформить заказ и оплатить онлайн, не нужно тратить время на поездку в офис.
                  Персонал всегда дружелюбный и готов помочь в любой ситуации.</p>
              </div>
            </div>

            <div class="vemotau-vokusipol">
              <div class="testimonial">
                <img src="https://w7.pngwing.com/pngs/530/784/png-transparent-computer-icons-encapsulated-postscript-information-user-miscellaneous-black-silhouette.png" alt="">
                <div class="gecedanam">Анонимный пользователь</div>
                <div class="apogered-gselected">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>

                <p>Хотелось бы отметить, что компания по прокату авто несколько раз подводила меня в качестве оказываемых услуг.
                  Несколько раз мне доставляли машины с проблемами, такими как шум в двигателе или проблемы с тормозами.
                  К сожалению, меня не устроило и отношение персонала, они были не внимательны к моим проблемам.
                  В общем, я не могу порекомендовать эту компанию</p>
              </div>
            </div>

            <div class="vemotau-vokusipol">
              <div class="testimonial">
                <img src="https://w7.pngwing.com/pngs/450/483/png-transparent-customer-service-customer-relationship-management-consumer-customer-face-service-people.png" alt="">
                <div class="gecedanam">Каспер Волков</div>
                <div class="apogered-gselected">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>

                <p>Компания по прокату авто оставила мне только положительные впечатления.
                  Заказывал автомобиль на выходные, все было быстро и без проблем.
                  Машина была в идеальном состоянии, и я получил много удовольствия от поездки.
                  Очень понравилась возможность выбрать дополнительное оборудование, такое как видеорегистратор и детское кресло,
                  это сильно облегчило поездку!
                </p>
              </div>
            </div>

            <div class="vemotau-vokusipol">
              <div class="testimonial">
                <img src="https://w7.pngwing.com/pngs/450/483/png-transparent-customer-service-customer-relationship-management-consumer-customer-face-service-people.png" alt="">
                <div class="gecedanam">Антон Попов</div>
                <div class="apogered-gselected">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>

                <p>Очень доволен услугами компании по прокату авто. Машины в отличном состоянии, всегда чистые и ухоженные.
                  Очень удобно, что можно оформить заказ и оплатить онлайн, не нужно тратить время на поездку в офис.
                  Персонал всегда дружелюбный и готов помочь в любой ситуации.</p>
              </div>
            </div>

            <div class="vemotau-vokusipol">
              <div class="testimonial">
                <img src="https://w7.pngwing.com/pngs/530/784/png-transparent-computer-icons-encapsulated-postscript-information-user-miscellaneous-black-silhouette.png" alt="">
                <div class="gecedanam">Анонимный пользователь</div>
                <div class="apogered-gselected">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>

                <p>Хотелось бы отметить, что компания по прокату авто несколько раз подводила меня в качестве оказываемых услуг.
                  Несколько раз мне доставляли машины с проблемами, такими как шум в двигателе или проблемы с тормозами.
                  К сожалению, меня не устроило и отношение персонала, они были не внимательны к моим проблемам.
                  В общем, я не могу порекомендовать эту компанию</p>
              </div>
            </div>

            <div class="vemotau-vokusipol">
              <div class="testimonial">
                <img src="https://w7.pngwing.com/pngs/450/483/png-transparent-customer-service-customer-relationship-management-consumer-customer-face-service-people.png" alt="">
                <div class="gecedanam">Каспер Волков</div>
                <div class="apogered-gselected">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>

                <p>Компания по прокату авто оставила мне только положительные впечатления.
                  Заказывал автомобиль на выходные, все было быстро и без проблем.
                  Машина была в идеальном состоянии, и я получил много удовольствия от поездки.
                  Очень понравилась возможность выбрать дополнительное оборудование, такое как видеорегистратор и детское кресло,
                  это сильно облегчило поездку!
                </p>
              </div>
            </div>

          </div>

    </div>
  </div>

      <div style="width: 100%; align-items: center;">

        <ul class="pagination" style="position: absolute; left: 45%">
          <li class="active">
            <a href="IndexAll.html">1</a>
          </li>
          <li>
            <a href="IndexAll.html">2</a>
          </li>
          <li>
            <a href="IndexAll.html">3</a>
          </li>
          <li>
            <a href="IndexAll.html">4</a>
          </li>
          <li>
            <a href="IndexAll.html">5</a>
          </li>
        </ul>

        <br />
        <br />
        <br />
      </div>
  <!--Block-->

    </div>
  </div>
  <!-- /End Section Container -->
</div>

<!--<div class="container navbar-header" style="width: 100%; padding: 0px;">-->
<!--  &lt;!&ndash; Footer 3-->
<!--  ==================================================================== &ndash;&gt;-->
<!--  <footer id="footer-section-3" class="footer-page white-section footer" style="background: #404040; margin-top: 25px;">-->
<!--    &lt;!&ndash; Section Container &ndash;&gt;-->
<!--    <div class="section-container" style=" width: 100%;">-->


<!--      &lt;!&ndash; container &ndash;&gt;-->
<!--      <div class="container" style=" width: 100%;  height: 100%; align-content: center">-->
<!--        &lt;!&ndash; row &ndash;&gt;-->
<!--        &lt;!&ndash; Widget Block ( Text ) &ndash;&gt;-->
<!--        <div class="col-md-2 widget-block text-widget-block" style="text-align: left; width: 25%;">-->
<!--          &lt;!&ndash; Widget Block Container &ndash;&gt;-->
<!--          <div class="widget-block-container">-->

<!--            &lt;!&ndash; Widget Block Content &ndash;&gt;-->
<!--            <div class="widget-block-content" style="color: white; font-size: 16px; align-content: center; padding: 20px 20px 0px;">-->

<!--              &lt;!&ndash; Description &ndash;&gt;-->
<!--              <p>Аренда и прокат автомобилей во Владимире. Владимир, Проспект Строителей 7Б, стр. 14, ООО «Прокат-Авто»</p>-->

<!--            </div>&lt;!&ndash; /End Widget Block Content &ndash;&gt;-->


<!--          </div>&lt;!&ndash; /End Widget Block Container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; /End Widget Block ( Text ) &ndash;&gt;-->
<!--        &lt;!&ndash; Widget Block ( Link ) &ndash;&gt;-->
<!--        <div class="col-md-2 widget-block link-widget-block" style="width: 17%;">-->
<!--          &lt;!&ndash; Widget Block Container &ndash;&gt;-->
<!--          <div class="widget-block-container">-->


<!--            &lt;!&ndash; Widget Block Title &ndash;&gt;-->
<!--            <div class="widget-block-title" style="color: white;">-->
<!--              <h4>Информация</h4>-->
<!--            </div>&lt;!&ndash; /End Widget Block Title &ndash;&gt;-->
<!--            &lt;!&ndash; Widget Block Content &ndash;&gt;-->
<!--            <div class="widget-block-content">-->
<!--              <a href="../Home/About.html" class="footer_link" style="text-decoration: none; color: white; display: block">О нас</a>-->
<!--              <a href="../Home/Contacts.html" class="footer-link" style="text-decoration: none; color: white; display: block">Контакты</a>-->
<!--              <a href="../Car/IndexAll.html" class="footer-link" style="text-decoration: none; color: white; display: block">Автопарк</a>-->
<!--            </div>&lt;!&ndash; /End Widget Block Content &ndash;&gt;-->


<!--          </div>&lt;!&ndash; /End Widget Block Container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; /End Widget Block ( Link ) &ndash;&gt;-->
<!--        &lt;!&ndash; Widget Block ( Link ) &ndash;&gt;-->
<!--        <div class="col-md-2 widget-block link-widget-block" style="width: 19%;">-->
<!--          &lt;!&ndash; Widget Block Container &ndash;&gt;-->
<!--          <div class="widget-block-container">-->

<!--            &lt;!&ndash; Widget Block Title &ndash;&gt;-->
<!--            <div class="widget-block-title" style="color: white;">-->
<!--              <h4>Личный кабинет</h4>-->
<!--            </div>&lt;!&ndash; /End Widget Block Title &ndash;&gt;-->
<!--            &lt;!&ndash; Widget Block Content &ndash;&gt;-->
<!--            <div class="widget-block-content">-->
<!--              <a href="../Account/Reg.html" style="text-decoration: none; color: white; display: block">Регистрация</a>-->
<!--              <a href="../Account/Log.html" style="text-decoration: none; color: white; display: block">Авторизация</a>-->
<!--            </div>&lt;!&ndash; /End Widget Block Content &ndash;&gt;-->

<!--          </div>&lt;!&ndash; /End Widget Block Container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; /End Widget Block ( Link ) &ndash;&gt;-->
<!--        &lt;!&ndash; Widget Block ( Связь ) &ndash;&gt;-->
<!--        <div class="col-md-2 widget-block social-widget-block" style="width: 19%;">-->
<!--          &lt;!&ndash; Widget Block Container &ndash;&gt;-->
<!--          <div class="widget-block-container">-->

<!--            &lt;!&ndash; Widget Block Title &ndash;&gt;-->
<!--            <div class="widget-block-title" style="color: white;">-->
<!--              <h4>Связаться с нами</h4>-->
<!--            </div>&lt;!&ndash; /End Widget Block Title &ndash;&gt;-->
<!--            &lt;!&ndash; Widget Block Content &ndash;&gt;-->
<!--            <div class="widget-block-content">-->

<!--              &lt;!&ndash; Social Icons Block &ndash;&gt;-->
<!--              <div class="social-icons-block social-icons-block-md social-icons-block-style-1">-->
<!--                <a style="color: white; text-decoration: none; font-size: 18px; display: block" href="tel:+78005553535">+7 (800) 555-35-35</a>-->
<!--                <p style="text-decoration: none; color: white; display: block">9:00 - 18:00 ежедневно</p>-->
<!--                <a style="color: white; text-decoration: none; display: block" href="mailto:CarRental@mail.ru">CarRental@mail.ru</a>-->
<!--              </div>&lt;!&ndash; /End Social Icons Block &ndash;&gt;-->

<!--            </div>&lt;!&ndash; /End Widget Block Content &ndash;&gt;-->


<!--          </div>&lt;!&ndash; /End Widget Block Container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; /End Widget Block ( Social ) &ndash;&gt;-->
<!--        &lt;!&ndash; Widget Block ( Social ) &ndash;&gt;-->
<!--        <div class="col-md-2 widget-block social-widget-block" style="width: 19%;">-->
<!--          &lt;!&ndash; Widget Block Container &ndash;&gt;-->
<!--          <div class="widget-block-container">-->


<!--            &lt;!&ndash; Widget Block Title &ndash;&gt;-->
<!--            <div class="widget-block-title" style="color: white;">-->
<!--              <h4>Мы в соц. сетях</h4>-->
<!--            </div>&lt;!&ndash; /End Widget Block Title &ndash;&gt;-->
<!--            &lt;!&ndash; Widget Block Content &ndash;&gt;-->
<!--            <div class="widget-block-content">-->

<!--              &lt;!&ndash; Social Icons Block &ndash;&gt;-->
<!--              <div class="social-icons-block social-icons-block-md social-icons-block-style-1">-->
<!--                <div class="social vk">-->
<!--                  <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>-->
<!--                </div>-->

<!--                <div class="social youtube">-->
<!--                  <a href="#" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>-->
<!--                </div>-->

<!--                <div class="social telegram">-->
<!--                  <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>-->
<!--                </div>-->
<!--              </div>&lt;!&ndash; /End Social Icons Block &ndash;&gt;-->

<!--            </div>&lt;!&ndash; /End Widget Block Content &ndash;&gt;-->


<!--          </div>&lt;!&ndash; /End Widget Block Container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; /End Widget Block ( Social ) &ndash;&gt;-->


<!--      </div>&lt;!&ndash; /End row &ndash;&gt;-->
<!--    </div>&lt;!&ndash; /End container &ndash;&gt;-->
<!--  </footer>&lt;!&ndash; /End Footer 3 &ndash;&gt;-->
<!--</div>-->

<script src="../../../static/js/jquery-1.10.2.js"></script>
<script src="../../../static/js/jquery-3.4.1.js"></script>
<script src="../../../static/js/bootstrap.js"></script>

</body>
</html>
