<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BMW X1</title>

  <!---->
  <link href="../../../static/css/bootstrap.css" rel="stylesheet"/>
  <link href="../../../static/css/Site.css" rel="stylesheet"/>

  <link href="../../../static/css/Details.css" rel="stylesheet" />
  <link href="../../../static/css/Button.css" rel="stylesheet" />
  <link href="../../../static/css/Contact_CSS.css" rel="stylesheet" />

  <link href="../../../static/css/Foother.css" rel="stylesheet" />
  <!---->

</head>
<body style="padding-bottom: 0px">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
      <!--                <span class="icon-bar"></span>-->
      <!--                <span class="icon-bar"></span>-->
      <!--                <span class="icon-bar"></span>-->
      <!--            </button>-->
      <img src="../../../static/img/logo.png" alt="" style="width: 40px; height: 40px; margin: 5px;">

      <a class="navbar-brand navBar-item" href="../Home/Index.html">Car FY</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="navBar-item"><a href="../Home/About.html">Информация</a></li>
        <li class="navBar-item"><a href="../Home/Contacts.html">Контакты</a></li>
        <li class="navBar-item"><a href="../Car/IndexAll.html">Автопарк</a></li>
        <li class="navBar-item"><a href="../Appeal/IndexAll.html">Вопросы</a></li>

        <li class="navBar-item"><a href="../Contract/IndexAll.html">Мои аренды</a></li>
        <li class="navBar-item"><a href="../Home/Customers.html">Пользователи</a></li>
      </ul>

      <ul>
        <form action="/logout" class="navbar-right" method="post" id="logoutForm">
          <input type="hidden" name="_csrf" value="${_csrf.token}">
          <ul class="nav navbar-nav navbar-right">
            <!--                        <li>-->
            <!--                            <a style="color: #46F046; text-decoration: none; font-size: 18px; display: block; font-weight: 600" href="tel:+78005553535">+7 (800) 555-35-35</a>-->
            <!--                        </li>-->
            <li>
              <a href="../Account/Index_Customer.html" title="Manage">Здравствуйте user@mail.ru!</a>
            </li>
            <li>
              <!--              <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>-->
              <a href="../Home/Index.html">Выйти</a>
            </li>
            <li>
              <a href="../Account/Log.html">Войти</a>
            </li>
          </ul>
        </form>
      </ul>

    </div>
  </div>
</div>

<div class="container body-content" style="display: flex; flex-direction: column; min-height: 100%; width: 80%;">

  <p style="margin-top: 5%;">

    <a href="../Car/IndexAll.html">Список авто</a>

    <a href="../Car/Edit.html" style="display: block;font-size: 25px;width: 100%;text-align: center;text-decoration: none;color: black;font-weight: 600;">Редaктировать</a>    </p>
  <!---->
  <div class="container-fluid bloc" style="width: 100%">
    <div class="col-lg-2 bloc-inside bloc-image">
      <img src="../../../static/img/cars/bmwX1.jpeg" width="100%" height="100%" style="border-radius: 15px;" />
    </div>
    <div class="col-lg-2 bloc-inside bloc-info">
      <h3>Период аренды</h3>
      <form action="Contracts/Create" method="get">
        <div style="display: flex">
          <div class="col-lg-2 col-lg-label" style="padding-top: 30px;">

            <label>Начало: </label>
            <br /><br />
            <label>Завершение: </label>
          </div>
          <div class="col-lg-2 col-lg-text">
            <input Value="2023-02-14 13:01" class="form-control datepicker text-box single-line" id="dateStart" min="02/14/2023 13:01:18" name="dateStart" style="width: 100%;" type="datetime-local" value="" />

            <br />
            <input class="form-control datepicker text-box single-line" id="dateEnd" min="02/15/2023 13:01:18" name="dateEnd" style="width: 100%;" type="datetime-local" value="" />

          </div>
        </div>
        <br />
        <div style="width:100%; height:100%; text-align:center;">
          <a href="../Contract/Create.html" id="RentalCar" class = "btn-details">Арендовать</a>
        </div>

      </form>
      <hr />

      <span class="period">
            <b>2999&nbsp;₽</b>
            <span style="font-size: 20px">/ сутки</span>
        </span>
      <p>
        Вы пока ни за что не платите. Оформив аренду, можно лично обговорить детали бронирования с менеджером.
      </p>
    </div>
  </div>
  <!---->

  <div class="col-lg-2 bloc-inside bloc-image" style="height: 100%;">
    <span class="period">
        <b>
            BMW
            X1
        </b>
    </span>

    <hr style="color: #5394FD; margin: 5px; padding: 0.5px; background: #5394FD;" />

    <p style="font-size: 16px">
      BMW X1,  2010
    </p>
  </div>

  <div class="col-lg-2 bloc-inside bloc-image" style="height: 100%;">
    <span class="period">
        <b>
            Характеристики
        </b>
    </span>
    <br />

    <div class="character">
      <div style="display: flex; width: 100%;">
        <div class="col-lg-2 character-label">
          <label>Привод</label>
        </div>

        <div class="col-lg-2 character-data">
          <label>Задний</label>
        </div>
      </div>
      <div style="display: flex; width: 100%;">
        <div class="col-lg-2 character-label">
          <label>Кузов</label>
        </div>
        <div class="col-lg-2 character-data">
          <label>Хетчбэк</label>
        </div>
      </div>
      <div style="display: flex; width: 100%;">
        <div class="col-lg-2 character-label">
          <label>КП</label>
        </div>
        <div class="col-lg-2 character-data">
          <label>Автоматическая</label>
        </div>
      </div>
      <div style="display: flex; width: 100%;">
        <div class="col-lg-2 character-label">
          <label>Мощность</label>
        </div>
        <div class="col-lg-2 character-data">
          <label>150</label>
        </div>
      </div>
      <div style="display: flex; width: 100%;">
        <div class="col-lg-2 character-label">
          <label>Класс</label>
        </div>
        <div class="col-lg-2 character-data">
          <label>Эконом</label>
        </div>
      </div>

      <div style="display: flex; width: 100%;">
        <div class="col-lg-2 character-label">
          <label>Цвет</label>
        </div>
        <div class="col-lg-2 character-data">
          <label>Коричневый</label>
        </div>
      </div>
      <div style="display: flex; width: 100%;">
        <div class="col-lg-2 character-label">
          <label>Год выпуска</label>
        </div>
        <div class="col-lg-2 character-data">
          <label>2010</label>
        </div>
      </div>
      <div style="display: flex; width: 100%;">
        <div class="col-lg-2 character-label">
          <label>Пробег</label>
        </div>
        <div class="col-lg-2 character-data">
          <label>90000</label>
        </div>
      </div>
    </div>

  </div>


  <script>

    function NoneRental() {
      var p = document.getElementById('notFinish');
      p.innerHTML = 'Вы не можете арендовать новоем авто т.к. у вас уже есть активная аренда.';
    };

    function getDateStart() {

      var returned = "";
      returned = returned + $('#dateStart').val();

      console.log(returned);

      return { returned };
    }

    function getDateEnd() {

      var returned = "";
      returned = returned +  $('#dateEnd').val();

      console.log(returned);

      return { returned };
    }



    function FalidDate() {
      var dateStart = $('#dateStart').val();
      var dateEnd = $('#dateEnd').val();

      var Start = Date.parse(dateStart);
      var End = Date.parse(dateEnd);

      var timeRental = (End - Start) / (1000 * 60 * 60 * 24);
      var price = $('#PricePerDay').val();

      document.getElementById("Price").setAttribute('value', roundNumber(timeRental * price, 2));

      document.getElementById("rentalTime").value = roundNumber(timeRental, 1) + '.суток';

      document.getElementById('Registrator').checked = false;
      document.getElementById('AutoBox').checked = false;
      document.getElementById('child').checked = false;
      /*        $('#Registrator').on('change', PlusPriceFORCheckBox);*/
      /*$('#Price').val = timeRental;*/
    }

    ($('#RentalCar')).on("click", function () {
      var dateStart = "";
      var dateEnd = "";
      dateStart = dateStart + getDateStart().returned;
      dateEnd = dateEnd + getDateEnd().returned;
      console.log(dateStart);
      console.log(dateEnd);
      var url = "https://localhost:44347/Contracts/Create/" + "67001" + "?dateStart=" + dateStart + "&dateEnd=" + dateEnd;
      console.log(url)
      window.location = url;
    })

  </script>

  <br />

</div><!-- /End Section Container -->

<script src="../../../static/js/jquery-1.10.2.js"></script>
<script src="../../../static/js/jquery-3.4.1.js"></script>
<script src="../../../static/js/jquery-3.4.1.min.js"></script>
<script src="../../../static/js/bootstrap.js"></script>
<script src="../../../static/js/IndexScript.js"></script>

</body>
</html>
